name: Build and deploy Vite React app to Azure Web App - MyBingo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install dependencies
        run: npm ci

      - name: Build Vite project
        run: npm run build

      - name: Upload dist folder
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
      - name: Check files after download
        run: |
          echo "=== Listing downloaded files ==="
          ls -R .
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_23D5F0A8623848A9BE78B72D81116D28 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_77B495E531BC4E9D8503E2FCD59EE489 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F8E473C4A5F74A32A32D3DDB91AABFE3 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'MyBingo'
          slot-name: 'Production'
          package: './dist'

