name: Build and deploy Vite React app to Azure Web App - MyBingo

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Build Vite project
        run: npm run build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_23D5F0A8623848A9BE78B72D81116D28 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_77B495E531BC4E9D8503E2FCD59EE489 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F8E473C4A5F74A32A32D3DDB91AABFE3 }}

      - name: Show build output
        run: ls -la dist || true

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
          package: ./dist
